@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
:root{
    --fonts: 'Oswald', sans-serif;
    --headerColor: #FDFCFC;
    --footerColor: #F5F0EC;
    --buttomColor: #3CAA36;
    --buttomBlue: #004AAD;
    --letterShadow: #004AAD;
}

.navigation{
    background-color: var(--headerColor);
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.navigation__logo{
    height: 10rem;
    width: 10rem;
}
.navigation__items{
    display: flex;
    justify-content: space-between;
    margin-left: 32%;
    width: 20%;
}
.navigation__items li{
    list-style: none;
    font-family: var(--fonts);
    cursor: pointer;
}
.navigation__items li:hover{
    color: #3CAA36;
}
.navigation__car{
    width: 3rem;
}
.slider{
    width: 100%;
    height: 90vh;
}